<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"unioncorp/hidden-search-banner"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search the site","buttonText":"Search","align":"wide"} /-->
	<!-- wp:pattern {"slug":"unioncorp/hidden-posts-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
